.cardItem {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.265);
  border: 3px solid rgb(200, 200, 200);

  .boxImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;

    img {
      width: 70%;
    }
  }

  .details {
    height: 50%;
    margin: 0.5rem 0.5rem 0.5rem 1rem;

    h3 {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }

    span {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .price {
      font-size: 1.5rem;
      font-weight: 600;
      color: #34b164;
    }

    .cardAction {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      .btn1,
      .btn2 {
        width: 85%;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      .btn1 {
        background-color: rgb(11, 202, 132);
        color: #ffffff;

        &:hover {
          background-color: rgb(10, 159, 104);
        }
      }

      .btn2 {
        background-color: #d9e7fa;
        color: #3483fa;

        &:hover {
          background-color: #cfd9e7;
        }
      }

      .btn1:disabled {
        background-color: rgb(101, 156, 105);
        color: #c4c7cb;
        cursor: not-allowed;
      }

      .btn2:disabled {
        background-color: rgba(155, 154, 154, 0.672);
        color: #cfd9e7;
        cursor: not-allowed;
      }
    }
  }

  &:hover {
    border: 3px solid rgb(11, 202, 132);
  }
}
