.modalList {
  color: black;
  border-bottom: 2px solid rgb(157, 157, 157);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  max-height: 358px;
  overflow-y: auto;

  li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }
}
