node_modules
.env
.env.prod

// "scripts": {
//   "build": "npx tsc",
//   "start": "node ./dist/server.js",
//   "migrate:deploy": "npx prisma migrate deploy",
//   "dev": "dotenv -e ./.env.dev -- tsnd --respawn src/server.ts",
//   "migrate:dev": "dotenv -e ./.env.dev -- npx prisma migrate dev",
//   "test": "dotenv -e ./.env.test -- vitest",
//   "migrate:test": "dotenv -e ./.env.test -- npx prisma migrate dev"
// },