.inputConteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;

  > label {
    font-weight: 600;
    font-size: clamp(0.7rem, 0.576rem + 0.468vw, 1rem);
    margin-bottom: 0.5rem;

    > strong {
      color: red;
    }
  }

  .inputBox {
    display: flex;
    align-items: center;

    > input {
      width: 100%;
      padding: 0.5rem;
      font-size: clamp(0.8rem, 0.717rem + 0.312vw, 1rem);
      border: none;
      outline: none;
    }

    button {
      display: flex;
      font-size: 1.8rem;
      margin-right: 10px;
      cursor: pointer;
      background-color: transparent;
      color: rgb(96, 97, 98);
      border: none;
    }
  }
}
