.details {
  position: relative;
  padding: 0.7rem;
  width: 56%;

  border: solid rgb(255, 104, 29);
  border-radius: 5px;

  .size {
    right: 15px;
    top: 55px;
    position: absolute;
    font-weight: 600;
    font-size: clamp(1rem, 0.791rem + 0.788vw, 1.5rem);
    color: #fff70f;
  }

  .ingredients {
    h2 {
      font-size: clamp(1.2rem, 1.074rem + 0.473vw, 1.5rem);
      margin-bottom: 10px;
    }
    ul {
      padding-left: 1.2rem;
      margin-bottom: 10px;

      li {
        font-size: clamp(0.8rem, 0.716rem + 0.315vw, 1rem);
      }
    }
  }

  .price {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.55rem, 1.152rem + 1.498vw, 2.5rem);
    font-weight: 600;

    strong {
      color: #ff0000;
    }
  }
}
